.gridInput {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 10px;
  padding: 10px;
  text-align: center;
  border-style: solid;
}

.gridFiveInARow {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

input {
  width: 50px;
  height: 50px;
}

.rowDisabled {
  pointer-events: none;
}
